CREATE DATABASE IF NOT EXISTS MYSQL_NAME_PH;
CREATE USER IF NOT EXISTS 'MYSQL_USER_PH'@'%' IDENTIFIED BY 'MYSQL_PASSWORD_PH';
GRANT ALL PRIVILEGES ON MYSQL_NAME_PH.* TO 'MYSQL_USER_PH'@'%';
FLUSH PRIVILEGES;